# === Системные файлы ===
.DS_Store
Thumbs.db
.env
.cache/

# === Python / Backend ===
__pycache__/
*.pyc
venv/
backend/.cache/
backend/__pycache__/

# === Frontend ===
node_modules/
frontend/node_modules/
dist/
frontend/dist/
.eslintcache
*.log

# === Machine Learning & Data ===
# Игнорируем тяжелые данные, но оставляем структуру папок
data/*.csv
!data/.gitkeep

# Игнорируем веса моделей (pt, pkl)
models/*.pt
models/*.pkl
*.pt
*.pkl

# === Docker ===
.dockerignore